#LoginForm {
    font-family: cursive;
    color: gold;
    margin-left: 8%;
    font-size: 25px;
    padding-top: 10%;
}

.Login {
    background-image: url('../assets/sebas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -19px;
    height: 100vh;

}

.input2 {
    margin-top: 0.5%;
}

#log-name {
    width: 10.8%;
    height: 46px;
}

#log-pass {
    width: 10.8%;
    height: 46px;
}